.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto auto 20vh;
}

li:hover {
    cursor: pointer;
}

.example-handle {
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
}

.container {
    position: relative;
}

.container .element {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.ovsuccess{
    display: block !important;
    background-color: greenyellow;
}

.ovfail{
    display: block !important;
    background-color: coral;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }