<div class="grid-container" *ngIf="srv.pers && !srv?.pers?.isRest">
  <!-- Если пусто -->
  <div *ngIf="!this.srv.pers.currentTask && !this.srv.isGlobalTaskView" fxLayout="row" fxLayoutAlign="center center">
    <h3 class="text-center" *ngIf="this.srv.pers.exp==0">
      Пока пусто... Может стоит
      <a href="https://pashkas.github.io/rpgorganizertutorial.github.io/" target="_blank">
        посетить инструкцию?
      </a>
    </h3>
  </div>
  <div *ngIf="!this.srv.pers.currentTask && !this.srv.isGlobalTaskView">
    &nbsp;
  </div>

  <!-- Задачи -->
  <ng-container *ngIf="this.srv.isGlobalTaskView">

    <mat-list (cdkDropListDropped)="drop($event)" cdkDropList class="list-group  py-2 h-100 w-100 overflow-auto">
      <ng-container *ngFor="let t of srv.pers.tasks; let i = index;">
        <div cdkDrag mat-list-item (click)="tskClick(i);"
          [ngClass]="{'list-group-item-danger': t.lastNotDone && !isSort, 'list-group-item-warning': t.requrense != 'нет' && checkDate(t.date)}">
          <div class="d-flex align-items-center" [ngClass]="{' py-2': !isSort}">
            <div class="flex-grow-1 text-center">
              <div class="pointer">
                <ng-container *ngIf="t.requrense != 'нет' && checkDate(t.date)" class="bg-danger">
                  [{{getDateString(t.date)}}]
                </ng-container>
                <ng-container *ngIf="t.requrense != 'нет' || isSort; else elseTemplate">
                  {{t.tittle}}
                </ng-container>
                <ng-template #elseTemplate>
                  <ng-container *ngIf="t.plusToNames[1]?.name as nn">
                    {{'('+nn+') '}}
                  </ng-container>
                  {{t.plusToNames[0]?.name}}
                </ng-template>
              </div>
            </div>
            <button mat-button cdkDragHandle [hidden]="!isSort">
              <i class="fa fa-lg fa-expand-arrows-alt"></i>
            </button>
          </div>
        </div>
      </ng-container>
    </mat-list>
    <div></div>
  </ng-container>
  <!-- Сфокусированный вид задач -->
  <ng-container *ngIf="this.srv.pers.currentTask && !this.srv.isGlobalTaskView">

    <!-- (error)="ReImages()" -->
    <div class="container" [ngClass]="{'vibrate-1': isSucessShown}">
      <img (press)="onLongPress($event)" (contextmenu)="$event.preventDefault()"
        (swipeup)="done(this.srv.pers.currentTask)" (swipedown)="fail(this.srv.pers.currentTask)"
        (swiperight)="onSwipeLeft($event)" (swipeleft)="onSwipeRight($event)"
        class="rounded element img-fluid pt-1 pb-0 px-1 mh-100 w-100" [ngStyle]="{'object-fit': 'contain'}"
        src="{{'assets/img/'+ this.srv.pers.currentTask.imageLvl + '/' + this.srv.pers.currentTask.image + '.jpg'}}">
    </div>
    <!-- (error)="onImgErr()" -->

    <div fxLayout="column" fxLayoutAlign="center center" class="w-100 h-100 py-2 px-2" [ngStyle]="{'height': '3em'}">
      <a [routerLink]="['/pers/task', this.srv.pers.currentTask.parrentTask ? this.srv.pers.currentTask.parrentTask : this.srv.pers.currentTask.id, false]"
        class="text-dark text-center">
        <h4 class="m-0">
          <ng-container>
            <ng-container
              *ngIf="this.srv.pers.currentTask.requrense != 'нет' && checkDate(this.srv.pers.currentTask.date)"
              class="bg-danger">
              [{{getDateString(this.srv.pers.currentTask.date)}}]
            </ng-container>
            {{this.srv.pers.currentTask.tittle}}
            <!-- {{this.srv.pers.currentTask.imageLvl + '/' + this.srv.pers.currentTask.image}} -->
          </ng-container>
        </h4>
      </a>
      <small *ngIf="this.srv.pers.currentTask.descr" class="text-center text-secondary mynote">
        {{this.srv.pers.currentTask.descr}}
      </small>
      <small class="text-center"
        *ngIf="this.srv.pers.currentTask.plusToNames&&this.srv.pers.currentTask.plusToNames.length>0;">
        <ng-container *ngFor="let pl of this.srv.pers.currentTask.plusToNames; let i=index;">
          <ng-container *ngIf="i>0"> | </ng-container>
          <ng-container *ngIf="pl.linkType; else noLinkType">
            <a class="text-secondary" (click)="openPlusType(pl.linkId, pl.linkType)">{{pl.name}}</a>
          </ng-container>
          <ng-template #noLinkType>
            <ng-container *ngIf="pl.linkName; else elseTemplate">
              <a class="text-secondary" [routerLink]="[pl.linkName, pl.linkId]">{{pl.name}}</a>
            </ng-container>
            <ng-template #elseTemplate>
              <span class="text-secondary">{{pl.name}}</span>
            </ng-template>
          </ng-template>
        </ng-container>
      </small>
    </div>
  </ng-container>

  <app-progress-bar-num
    [text]="srv.pers.name+', уровень ' + srv.pers.level+': '+((srv.pers.exp - srv.pers.prevExp) * 10.0 | number : '1.0-0')+'/'+((srv.pers.nextExp- srv.pers.prevExp) * 10.0 | number : '1.0-0')"
    [val]="srv.pers.progressValue">
  </app-progress-bar-num>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100 h-100 py-1" style="min-height: 120px;">
    <button (press)="editDiaryItem()" (contextmenu)="$event.preventDefault()" class="h-100 w-100 px-1 py-0 text-left"
      mat-button routerLink="/pers" (click)="openPersList()">

      <img [ngClass]="{'disabled': isSort, 'vibrate-1': isFailShown}" (contextmenu)="$event.preventDefault()"
        src="{{srv.pers.image}}" class="img-fluid h-100 rounded" [ngStyle]="{'object-fit': 'contain'}">
    </button>
    <!-- Кнопки -->
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="0.6em" class="w-100 h-100 px-2"
      *ngIf="isSort && srv.pers.sellectedView != 'квесты'">
      <button (click)="editCansel()" mat-icon-button>
        <img src="assets/icons/left.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
      </button>

      <button (click)="setSort()" mat-icon-button style="width: 47px !important;">
        <img src="assets/icons/edit.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
      </button>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="0.6em" class="w-100 h-100 px-2"
      *ngIf="isSort && srv.pers.sellectedView == 'квесты'">
      <button (click)="editCansel()" mat-icon-button>
        <img src="assets/icons/left.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
      </button>

      <button (click)="addToQwest()" mat-icon-button>
        <img src="assets/icons/create.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
      </button>

      <button (click)="setSort()" mat-icon-button style="width: 47px !important;">
        <img src="assets/icons/edit.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
      </button>
    </div>
    <div fxLayout="row" *ngIf="!isSort" fxLayoutAlign="end center" fxLayoutGap="0.3em" class="w-100 h-100 px-2">

      <!-- <button (click)="tmp()">
        tmp
      </button> -->

      <button [ngClass]="{'disabled': isSort}" [autofocus]="false" (click)="firstOrGlobal()" mat-icon-button>
        <img *ngIf="this.srv.isGlobalTaskView" src="assets/icons/right.png" class="img-fluid"
          [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
        <img src="assets/icons/left.png" *ngIf="!this.srv.isGlobalTaskView" class="img-fluid"
          [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
      </button>

      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.3em" class="h-100">
        <button [ngClass]="{'disabled': isSort}" (click)="setView()" mat-icon-button>
          <img *ngIf="srv.pers.sellectedView!='навыки'" src="assets/icons/abils.png" class="img-fluid"
            [ngStyle]="{'object-fit': 'contain', 'height':'2.2em'}">
          <img *ngIf="srv.pers.sellectedView!='квесты'" src="assets/icons/qwests.png" class="img-fluid"
            [ngStyle]="{'object-fit': 'contain', 'height':'2.5em'}">
        </button>
        <button (click)="setSort()" mat-icon-button [ngClass]="{'disabled': this.srv.isGlobalTaskView || isSort}">
          <img src="assets/icons/edit.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
        </button>
      </div>

      <button [ngClass]="{'disabled': isSort||this.srv.isGlobalTaskView||!this.srv.pers.currentTask}"
        (click)="done(this.srv.pers.currentTask)" mat-icon-button>
        <img src="assets/icons/sword.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
      </button>

      <button
        [ngClass]="{'disabled': isSort||this.srv.isGlobalTaskView||!this.srv.pers.currentTask||this.srv.pers.currentTask?.requrense=='нет'}"
        (click)="fail(this.srv.pers.currentTask)" mat-icon-button>
        <img src="assets/icons/shild.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
      </button>

    </div>
  </div>
</div>
<div id="overlay" [ngClass]="{ovsuccess: isSucessShownOv, ovfail: isFailShownOv}"></div>
<app-rest *ngIf="srv.pers && srv?.pers?.isRest"></app-rest>
