<div fxLayout="column" fxFill fxLayoutAlign="space-around center" class="text-light">
    <img *ngIf="isGood" class="img-fluid" style='height: 75px' src="assets/img/good.png"
        [ngStyle]="{'object-fit': 'contain'}">
    <img *ngIf="!isGood" class="img-fluid" style='height: 75px' src="assets/img/bad.png"
        [ngStyle]="{'object-fit': 'contain'}">
    <div fxFlex class="px-2 py-1 text-center" style="width: 75vw;">
        <mat-list class="p-1">
            <div mat-list-item *ngIf="headText"><b>{{headText|uppercase}}</b></div>
            <div mat-list-item *ngFor="let item of this.changes; let i = index">
               <app-pers-changes-item [item]="item"></app-pers-changes-item>
            </div>
        </mat-list>
    </div>
</div>