<nav *ngIf="this.srv.pers && !this.srv.isDialogOpen" class="fixed-bottom">
  <div class="d-flex w-100 justify-content-end px-2 py-2">
    <!-- Назад -->
    <button *ngIf="!isEditMode" mat-icon-button (click)="goBack()" class="mx-2">
      <img src="assets/icons/left.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'2.5em'}">
    </button>
    <!-- Редактировать -->
    <button mat-icon-button (click)="saveData()">
      <img *ngIf="!isEditMode" src="assets/icons/edit.png" class="img-fluid"
        [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
      <img *ngIf="isEditMode" src="assets/icons/create.png" class="img-fluid"
        [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
    </button>
  </div>
</nav>

<div class="container pt-2 pb-4" *ngIf="this.srv.pers">
  <mat-tab-group mat-align-tabs="center" animationDuration="0ms" [(selectedIndex)]="this.srv.selTabPersList">
    <mat-tab label="Перс">
      <!-- Просмотр -->
      <div *ngIf="!isEditMode" class="pt-2 pb-4 w-100">

        <div class="pb-4">
          <!-- Картинка -->
          <div class="text-center p-1">
            <img src="{{this.srv.pers.image}}" class="img-fluid rounded"
              [ngStyle]="{'object-fit': 'contain', 'height': '30vh'}">
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <span>
              <img src="assets/icons/опыт.png" class="img-fluid"
                [ngStyle]="{'object-fit': 'contain', 'height':'1.5em'}">
              <span>
                {{(this.srv.pers.level)}}
              </span>
            </span>

            <!-- Имя -->
            <div class="text-center text-dark">
              {{this.srv.pers.name + ' (' + (this.srv.pers.rang.name|lowercase) + ')'}}
            </div>

            <span>
              <img src="assets/icons/diamond.png" class="img-fluid"
                [ngStyle]="{'object-fit': 'contain', 'height':'1.5em'}">
              <span>
                {{this.srv.pers.ON}}
              </span>
            </span>

          </div>

          <!-- История -->
          <div class="md-form" *ngIf="this.srv.pers.story">
            <i>{{this.srv.pers.story}}</i>
          </div>

          <!-- Атрибуты -->
          <ng-container *ngIf="this.srv.pers.characteristics?.length > 0">
            <!-- <h5>Атрибуты:</h5> -->
            <!-- Характеристики -->
            <ul class="list-group py-0">
              <li *ngFor="let item of this.srv.pers.characteristics; let i = index;"
                class="list-group-item pb-0 px-0 mt-0 mb-0 border-0">
                <!-- Характеристика -->
                <a class="align-self-center w-100" [routerLink]="['/characteristic', item.id]">
                  <div class="d-flex">
                    <div class="flex-grow-1 text-left align-self-baseline">
                      <h4>{{item.name}}</h4>
                    </div>
                    <div class="text-right align-self-baseline">
                      <h4>{{item.rang.name}}</h4>
                    </div>
                  </div>
                </a>
                <mat-progress-bar *ngIf="true" class="myprogr" color="accent" mode="determinate"
                  value="{{item.progressValue}}">
                </mat-progress-bar>
                <div class="d-flex flex-column w-100">
                  <div>
                    <ul class="list-group py-0" *ngIf="item.abilities.length>0">
                      <li *ngFor="let ab of item.abilities" class="list-group-item py-0 mt-1 mb-0 pr-0 pl-0 border-0">
                        <div class="d-flex align-items-baseline w-100">
                          <div class="w-100 d-flex text-primary">
                            <!-- [routerLink]="['/ability', ab.id]" -->
                            <a (click)="showAbility(ab)"
                              [ngClass]="{'text-success' : ab.tasks[0]?.mayUp && ab.tasks[0]?.IsNextLvlSame}"
                              class="flex-grow-1 text-left align-self-baseline">
                              {{ab.name + ' '}}<i><small>{{ab.tasks[0]?.curLvlDescr2}}</small></i>
                            </a>
                            <div fxLayout="row" fxLayoutAlign="space-around" class="text-right align-self-baseline">
                              <a class="pl-2" (click)="showAbility(ab)"
                                [ngClass]="{'text-success' : ab.tasks[0]?.mayUp && ab.tasks[0]?.IsNextLvlSame}">
                                {{ab.rang.name}}
                              </a>
                              <a class="ml-1 px-1" *ngIf="ab.tasks[0]?.mayUp" (click)="upAbil(ab)">
                                <img src="assets/icons/up.png" class="img-fluid"
                                  [ngStyle]="{'object-fit': 'contain', 'height':'1.5em'}">
                              </a>
                            </div>
                          </div>
                        </div>
                        <mat-progress-bar class="myprogr" color="accent" mode="determinate"
                          value="{{ab.progressValue}}">
                        </mat-progress-bar>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </ng-container>
          <br>

          <h5 class="text-right">
            <a [routerLink]="['/turnirtable']" class="badge badge-primary">Турнирная таблица</a>
            <a href="http://nerdistway.blogspot.com/2019/09/blog-post.html" target="_blank"
              class="badge badge-secondary">Руководство</a>
            <a href="http://rpg-organizer.107353.n8.nabble.com/" target="_blank" class="badge badge-success">Форум</a>
            <a href="http://nerdistway.blogspot.com/" target="_blank" class="badge badge-warning">Блог</a>
          </h5>
        </div>
      </div>
      <!-- Редактирование -->
      <div *ngIf="isEditMode" class="pt-2 pb-4 w-100">
        <div class="pb-4">
          <mat-form-field class="w-100">
            <input matInput autocomplete="off" placeholder="Имя" [(ngModel)]="this.srv.pers.name"
              name="this.srv.pers.name">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput autocomplete="off" placeholder="Изображение" [(ngModel)]="this.srv.pers.image"
              name="this.srv.pers.image">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput autocomplete="off" placeholder="История" [(ngModel)]="this.srv.pers.story"
              name="this.srv.pers.story">
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <h5>Атрбуты:</h5>
            <button class="icon-small" mat-icon-button (click)="addCharact()">
              <img src="assets/icons/create.png" class="img-fluid">
            </button>
          </div>
          <mat-list>
            <div mat-list-item *ngFor="let item of this.srv.pers.characteristics; let i = index" class="p-0">
              <div class="d-flex flex-column">
                <!-- Характеристика -->
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1 align-self-center ">
                    <b>{{item.name}}</b>
                  </div>
                  <div class="btn-group btn-group-sm" role="group" aria-label="Действия">
                    <!-- Добавить навык -->
                    <button class="icon-small" id="cha{{i}}" (click)="addAbil(item?.id); selCha=item;" mat-icon-button>
                      <img src="assets/icons/create.png" class="img-fluid">
                    </button>
                    <!-- Удалить -->
                    <button class="icon-small" (click)="delCharact(item.id)" mat-icon-button>
                      <img src="assets/icons/del.png" class="img-fluid">
                    </button>
                  </div>
                </div>
                <!-- Навыки -->
                <mat-list *ngIf="item.abilities.length>0" class="p-0">
                  <div mat-list-item *ngFor="let ab of item.abilities">
                    <div class="d-flex align-items-center">
                      <div class="flex-grow-1 align-self-center">
                        <i>{{ab.name}}</i>
                      </div>
                      <div class="btn-group btn-group-sm" role="group" aria-label="Действия">
                        <!-- Удалить -->
                        <div class="btn-group btn-group-sm" role="group" aria-label="Действия">
                          <button class="icon-small" (click)="delAbil(ab.id)" mat-icon-button>
                            <img src="assets/icons/del.png" class="img-fluid">
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-list>
              </div>
            </div>
          </mat-list>
          <br>
          <ng-container *ngIf="false">
            <div fxLayout="row" class="my-1" fxLayoutAlign="space-between center" fxLayoutGap="4px"
              *ngFor="let item of this.srv.pers.rangse; let i = index">
              <mat-form-field fxFlex>
                <input matInput autocomplete="off" placeholder="Название" [(ngModel)]="item.name" name="rangName{{i}}">
              </mat-form-field>
              <mat-form-field fxFlex="40">
                <input matInput autocomplete="off" placeholder="Изображение" [(ngModel)]="item.img"
                  name="rangImgs{{i}}">
              </mat-form-field>
              <div fxFlex="20" class="text-center">
                <img src="{{item.img}}" class="img-fluid" style="max-height: 100px">
              </div>
            </div>
          </ng-container>

          <button mat-stroked-button color="accent" class="w-100 mt-2" (click)="resp()">
            Респаун
          </button>
          <br>
          <br>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Инвентарь">
      <!-- Просмотр -->
      <div *ngIf="!isEditMode" class="pt-2 pb-4 w-100">
        <div class="pb-4">
          <!-- Инвентарь -->
          <div style="padding-left: 10px;" fxFlexFill fxLayoutAlign="center center" fxLayout="row wrap"
            fxLayoutGap="10px grid">
            <div fxFlex="33" *ngFor="let rev of this.srv.pers.inventory">
              <div style="cursor: pointer;" (click)="useRevard(rev)" fxLayout="column"
                fxLayoutAlign="space-around center">
                <img src="{{rev.image}}" class="img-fluid rounded"
                  [ngStyle]="{'object-fit': 'contain', 'height': '65px'}">
                <div fxLayout="row" fxLayoutAlign="space-evenly center">
                  <div>
                    <small>{{rev.name}}</small>
                  </div>
                  <div>
                    &nbsp;<small>x{{rev.count}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Редактирование -->
      <div *ngIf="isEditMode" class="pt-2 pb-4 w-100">
        <div class="pb-4">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <h5>Трофеи:</h5>
            <!-- Добвление трофея -->
            <button class="icon-small" mat-icon-button (click)="addNewRevard(null)">
              <img src="assets/icons/create.png" class="img-fluid">
            </button>
          </div>
          <!-- Список наград -->
          <mat-list>
            <div mat-list-item *ngFor="let rev of this.srv.pers.rewards; let i = index">
              <div fxFill>
                <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <div>
                    {{rev.name}}&nbsp;
                  </div>
                  <span class="badge pointer mr-1" [ngStyle]="{'background-color': rev.rare | rarecol}">
                    {{rev.rare}}
                  </span>
                </div>
                <div>
                  <!-- Удалить -->
                  <div class="btn-group btn-group-sm" role="group" aria-label="Действия">
                    <!-- Редактировать -->
                    <button class="icon-small" (click)="addNewRevard(rev)" mat-icon-button>
                      <img src="assets/icons/edit.png" class="img-fluid">
                    </button>
                    <button class="icon-small" (click)="delReward(rev.id)" mat-icon-button>
                      <img src="assets/icons/del.png" class="img-fluid">
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </mat-list>
          <!-- <small class="pt-1" *ngIf="this.srv.pers.totalRewardProbability"><i>Вероятность награды:
              {{this.srv.pers.totalRewardProbability}}%</i></small> -->
          <br>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Квесты">
      <!-- Просмотр -->
      <div *ngIf="!isEditMode" class="pt-2 pb-4 w-100">
        <div class="pb-4">
          <!-- Квесты -->
          <ng-container *ngIf="this.srv.pers.qwests?.length > 0">

            <ul class="list-group py-0 px-0">
              <li *ngFor="let qwest of this.srv.pers.qwests" class="list-group-item px-0 py-1 border-0">
                <a class="align-self-center w-100" [routerLink]="['/qwest', qwest.id]">
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <h6>{{qwest.name}}</h6>
                    <h6>{{qwest.tasksDone}}/{{qwest.tasks.length}}</h6>
                  </div>
                </a>
                <mat-progress-bar class="myprogr" color="accent" mode="determinate" value="{{qwest.progressValue}}">
                </mat-progress-bar>
              </li>
            </ul>
            <br>
          </ng-container>
        </div>
      </div>
      <!-- Редактирование -->
      <div *ngIf="isEditMode" class="pt-2 pb-4">
        <div class="pb-4">
          <!-- Квесты -->
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <h5>Квесты:</h5>
            <!-- Добавление квеста -->
            <button class="icon-small" mat-icon-button (click)="addNewQwest()">
              <img src="assets/icons/create.png" class="img-fluid">
            </button>
          </div>
          <!-- Список квестов -->
          <mat-list>
            <div mat-list-item *ngFor="let qwest of this.srv.pers.qwests; let i = index">
              <div class="d-flex align-items-center">
                <div class="flex-grow-1 align-self-center">
                  {{qwest.name}}
                </div>
                <div class="d-flex">
                  <!-- Удалить -->
                  <div class="btn-group btn-group-sm" role="group" aria-label="Действия">
                    <button class="icon-small" (click)="delQwest(qwest.id)" mat-icon-button>
                      <img src="assets/icons/del.png" class="img-fluid">
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </mat-list>
          <br>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <br>
  <br>
</div>