<nav *ngIf="this.srv.pers && !this.srv.isDialogOpen" class="fixed-bottom">
  <div class="d-flex w-100 justify-content-end px-2 py-2">
    <!-- Назад -->
    <button *ngIf="!isEditMode" mat-icon-button (click)="goBack()" class="mx-2">
      <img src="assets/icons/left.png" *ngIf="!this.srv.isGlobalTaskView" class="img-fluid"
        [ngStyle]="{'object-fit': 'contain', 'height':'2.5em'}">
    </button>
    <!-- Редактировать -->
    <button mat-icon-button (click)="saveData()">
      <img *ngIf="!isEditMode" src="assets/icons/edit.png" class="img-fluid"
        [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
      <img *ngIf="isEditMode" src="assets/icons/create.png" class="img-fluid"
        [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
    </button>
  </div>
</nav>
<!-- Просмотр -->
<div class="container pt-2 pb-4" *ngIf="this.srv.pers && tsk && !isEditMode">
  <form class="pb-4">
    <app-image-component *ngIf="tskAbility && tskAbility?.image" [(data)]="tskAbility.image"></app-image-component>
    <app-image-component *ngIf="!tskAbility" [data]="'assets/img/'+ tsk.imageLvl + '/'+tsk.image+'.jpg'">
    </app-image-component>
    <h4 class="text-center">
      {{tsk.name}}
    </h4>
    <div abil="progress" *ngIf="tskAbility" [ngStyle]="{'height': '3px'}">
      <div class="progress-bar" [style.width]="tskAbility.progressValue + '%'"
        [ngStyle]="{'background-color': 'LightGreen', 'height': '3px'}">
      </div>
    </div>
    <br *ngIf="tskAbility">
    <!-- Дата и время, повтор -->
    <div fxLayout="row" fxLayoutAlign="space-between center" class="form-row" *ngIf="tskAbility">
      <div>
        {{getDateString(tsk)}}
      </div>

      <ng-container>
        {{tsk.requrense | titlecase }}
      </ng-container>

      <div>
        {{tsk.timeVal | timeVal}}
      </div>

      <ng-container *ngIf="tskCharact">
        <a [routerLink]="['/pers/characteristic', tskCharact.id]">{{tskCharact.name}}</a>
      </ng-container>
    </div>

    <!-- Описание -->
    <div class="text-center pt-2" *ngIf="tsk.descr">
      <!-- <label class="active">Описание</label> -->
      <i>
        {{tsk.descr}}
      </i>
    </div>

    <!-- <app-req-show *ngIf="tskAbility" [reqvirements]="tsk.reqvirements"></app-req-show> -->

    <!-- Действия -->
    <div fxLayout="row" fxLayoutAlign="space-between center"
      *ngIf="tsk.requrense != 'нет' && tsk.mayUp && !this.srv.pers.isTES" class="py-2 text-center">
      <span style="visibility: hidden;">
        <img src="assets/icons/diamond.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'1.5em'}">
        <span>
          {{this.srv.pers.ON}}
        </span>
      </span>

      <button class="icon-small" mat-icon-button (click)="upAbil();">
        <img src="assets/icons/up.png" class="img-fluid">
      </button>

      <span>
        <img src="assets/icons/diamond.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'1.5em'}">
        <span>
          {{this.srv.pers.ON}}
        </span>
      </span>
    </div>
    <!-- Таймер, счетчик -->
    <!-- <div class="form-row">
      <div class="md-form col">
        <label class="active">Минут</label>
        {{tsk.aimTimer}}
      </div>
      <div class="md-form col">
        <label class="active">Раз</label>
        {{tsk.aimCounter}}
      </div>
    </div> -->
    <!-- Состояния -->
    <!-- <div class="form-row" *ngIf="tsk.states.length>0">
      <h5>Состояния</h5>
    </div> -->

    <ng-container *ngIf="!tskAbility && tsk.states.length>0">
      <mat-list (cdkDropListDropped)="drop($event)" cdkDropList id="states" *ngIf="tsk.states.length > 0">
        <div mat-list-item *ngFor="let st of tsk.states; let i = index">
          <ng-container *ngIf="st.isDone">
            <del>
              <div class="text-center">
                {{st.name}}
              </div>
            </del>
          </ng-container>
          <ng-container *ngIf="!st.isDone">
            <div class="text-center">
              {{st.name}}
            </div>
          </ng-container>
        </div>
      </mat-list>
    </ng-container>
    <ng-container *ngFor="let st of tsk.statesDescr; let i = index;">
      <div *ngIf="i!=0||this.srv.pers.isTES" class="text-center px-0 py-1 border-0"
        [ngClass]="{'bg-success': i==tsk.roundVal && tskAbility.isOpen}">
        <b>{{i}}<ng-container *ngIf="st">: </ng-container></b>{{st}}
      </div>
    </ng-container>
    <!-- <div class="text-center px-0 py-1 border-0">
      {{tsk.curLvlDescr}}
    </div> -->

  </form>
  <br>
  <br>
</div>
<!-- Режим редактирования -->
<div class="container pt-2 pb-4" *ngIf="this.srv.pers && tsk && isEditMode">
  <form class="pb-4">
    <app-image-component *ngIf="tskAbility && tskAbility?.image" [(data)]="tskAbility.image" [isCanEdit]="true">
    </app-image-component>
    <app-image-component *ngIf="!tskAbility" [data]="'assets/img/'+ tsk.imageLvl + '/'+tsk.image+'.jpg'">
    </app-image-component>
    <!-- Название -->
    <div fxLayout="row" xLayoutAlign="none center" fxLayoutGap='15px'>
      <mat-form-field>
        <input matInput autocomplete="off" placeholder="Название" [(ngModel)]="tsk.name" name="tsk.name">
      </mat-form-field>

    </div>
    <mat-form-field *ngIf="tskCharact">
      <input class="pointer" (click)="changeCharact()" matInput readonly placeholder="Характеристика" name="tsk.charact"
        value="{{tskCharact.name}}">
    </mat-form-field>


    <!-- Дата, повторение -->
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
      <mat-form-field>
        <input matInput autocomplete="off" placeholder="Дата" [ngModel]="tsk.date" name="tsk.date"
          (ngModelChange)="onTskDateChange($event)" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">
        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
      </mat-form-field>

      <ng-container *ngIf="tsk.requrense != 'нет'">
        <!-- Повторение -->
        <mat-form-field>
          <mat-label>Повторение</mat-label>
          <mat-select [(ngModel)]="tsk.requrense" name="tsk.requrense">
            <mat-option *ngFor="let req of requrenses" [value]="req">
              {{req}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Время -->
        <mat-form-field>
          <mat-label>Время</mat-label>
          <mat-select [(ngModel)]="tsk.timeVal" name="tsk.timeVal">
            <mat-option *ngFor="let req of times" [value]="req">
              {{req|timeVal}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </div>

    <!-- Дни недели -->
    <div fxLayout="row" fxLayoutGap="0.3em" fxLayoutAlign="center center" *ngIf="tsk.requrense == 'дни недели'">
      <div *ngFor="let wd of weekDays">
        <ng-container>
          <span (click)="setWeekDays(wd)"
            [ngClass]="{'text-dark': !tsk.tskWeekDays.includes(wd), 'badge-unchecked': !tsk.tskWeekDays.includes(wd), 'primary-color-dark': tsk.tskWeekDays.includes(wd)}"
            class="badge pointer">
            {{wd}}
          </span>
        </ng-container>
      </div>
    </div>

    <!-- Описание -->
    <mat-form-field>
      <input matInput autocomplete="off" placeholder="Описание" [(ngModel)]="tsk.descr" name="tsk.descr">
    </mat-form-field>

    <ng-container *ngIf="tsk.requrense != 'нет'">
      <!-- Таймер, счетчик -->
      <div fxLayoutGap="8px" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <input matInput autocomplete="off" placeholder="Минут" [(ngModel)]="tsk.aimTimer" name="tsk.aimTimer">
        </mat-form-field>
        <mat-form-field>
          <input matInput autocomplete="off" placeholder="Раз" [(ngModel)]="tsk.aimCounter" name="tsk.aimCounter">
        </mat-form-field>
        <span (click)="setSumStates()"
          [ngClass]="{'text-dark':!tsk.isSumStates, 'badge-unchecked': !tsk.isSumStates, 'primary-color-dark': tsk.isSumStates}"
          class="badge pointer">
          ∑ состояния
        </span>
        <!-- <span (click)="setIsHard()"
          [ngClass]="{'text-dark':!tsk.isHard, 'badge-unchecked': !tsk.isHard, 'primary-color-dark': tsk.isHard}"
          class="badge p-2 mb-1 pointer">
          cложный
        </span> -->
      </div>
    </ng-container>
    <!-- Состояния -->
    <!-- <h5>Состояния:</h5> -->
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <ng-container *ngIf="tsk.requrense != 'нет'">
        <h5>Состояния:</h5>
      </ng-container>
      <ng-container *ngIf="tsk.requrense === 'нет'">
        <h5>Подзадачи:</h5>
      </ng-container>
      <ng-container *ngIf="tsk.requrense != 'нет'">
        <span (click)="tsk.isStatePlusTitle=!tsk.isStatePlusTitle"
          [ngClass]="{'text-dark':!tsk.isStatePlusTitle, 'badge-unchecked': !tsk.isStatePlusTitle, 'primary-color-dark': tsk.isStatePlusTitle}"
          class="badge pointer">
          + название
        </span>
      </ng-container>
      <ng-container *ngIf="tsk.requrense != 'нет'">
        <span (click)="tsk.isStateInTitle=!tsk.isStateInTitle"
          [ngClass]="{'text-dark':!tsk.isStateInTitle, 'badge-unchecked': !tsk.isStateInTitle, 'primary-color-dark': tsk.isStateInTitle}"
          class="badge pointer">
          в заголовок
        </span>
      </ng-container>
      
      <button class="icon-small" (click)="addStateToTask();" mat-icon-button>
        <img src="assets/icons/create.png" class="img-fluid">
      </button>
    </div>
    <mat-list (cdkDropListDropped)="drop($event)" cdkDropList id="states" *ngIf="tsk.states.length > 0">
      <div mat-list-item cdkDrag *ngFor="let st of tsk.states; let i = index">
        <div class="d-flex">
          <div class="flex-grow-1 align-self-center">
            <a class="text-primary">
              <ng-container *ngIf="tsk.requrense != 'нет' || st.isDone == false">
                {{st.name}}
              </ng-container>
              <ng-container *ngIf="tsk.requrense === 'нет' && st.isDone == true">
                <del>
                  {{st.name}}
                </del>
              </ng-container>
            </a>
          </div>
          <div class="btn-group btn-group-sm" role="group" aria-label="Действия">

            <button class="icon-small" (click)="addStateToTask(st)" mat-icon-button>
              <img src="assets/icons/edit.png" class="img-fluid">
            </button>

            <button class="icon-small" (click)="delState(st.id)" mat-icon-button>
              <img src="assets/icons/del.png" class="img-fluid">
            </button>

            <button class="icon-small" mat-icon-button cdkDragHandle>
              <img src="assets/icons/right.png" class="img-fluid">
            </button>
          </div>
        </div>
      </div>
    </mat-list>

    <!-- <app-req-edit *ngIf="tskAbility" [reqvirements]="tsk.reqvirements" (reqvirementsChange)="tsk.reqvirements=$event">
    </app-req-edit> -->

  </form>
  <br>
  <br>
</div>
