<nav *ngIf="this.srv.pers && !this.srv.isDialogOpen" class="fixed-bottom">
  <div class="d-flex w-100 justify-content-end px-2 py-2">
    <!-- Назад -->
    <button mat-icon-button (click)="goBack()" class="mx-2">
      <img src="assets/icons/left.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'2.5em'}">
    </button>
    <!-- Редактировать -->
    <button mat-icon-button (click)="saveData()">
      <img src="assets/icons/edit.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'3em'}">
      <!-- <img *ngIf="isEditMode" src="assets/icons/create.png" class="img-fluid"
        [ngStyle]="{'object-fit': 'contain', 'height':'3em'}"> -->
    </button>
  </div>
</nav>
<!-- Просмотр -->
<div class="container pt-2 pb-4" *ngIf="this.srv.pers && tsk && !isEditMode">
  <form class="pb-4">
    <app-image-component *ngIf="tskAbility && tskAbility?.image" [(data)]="tskAbility.image"></app-image-component>
    <app-image-component *ngIf="!tskAbility" [data]="'assets/img/'+ tsk.imageLvl + '/'+tsk.image+'.jpg'">
    </app-image-component>
    <h4 class="text-center">
      {{tsk.name}}<app-ab-hardness [tsk]="tsk"></app-ab-hardness>
    </h4>
    <div abil="progress" *ngIf="tskAbility" [ngStyle]="{'height': '3px'}">
      <div class="progress-bar" [style.width]="tskAbility.progressValue + '%'"
        [ngStyle]="{'background-color': 'LightGreen', 'height': '3px'}">
      </div>
    </div>
    <br *ngIf="tskAbility">
    <!-- Дата и время, повтор -->
    <div fxLayout="row" fxLayoutAlign="space-between center" class="form-row" *ngIf="tskAbility">
      <ng-container *ngIf="tskCharact">
        <a [routerLink]="['/pers/characteristic', tskCharact.id]">{{tskCharact.name}}</a>
      </ng-container>

      <div>
        {{getDateString(tsk)}}
        ({{tsk.requrense | titlecase }})
      </div>

      <!-- <div>
        {{tsk.timeVal | timeVal}}
      </div> -->

      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="7px">
        <button *ngIf="tsk.value>=1" class="icon-small" mat-icon-button (click)="downAbil();">
          <img src="assets/icons/down.png" class="img-fluid">
        </button>

        <button *ngIf="tsk.mayUp" class="icon-small" mat-icon-button (click)="upAbil();">
          <img src="assets/icons/up.png" class="img-fluid">
        </button>


        <span *ngIf="tsk.requrense != 'нет'">
          <img src="assets/icons/diamond.png" class="img-fluid" [ngStyle]="{'object-fit': 'contain', 'height':'1.5em'}">
          <span>
            {{this.srv.pers.ON}}
          </span>
        </span>
      </div>
    </div>

    <!-- Описание -->
    <div class="text-center pt-2" *ngIf="tsk.descr">
      <!-- <label class="active">Описание</label> -->
      <i>
        {{tsk.descr}}
      </i>
    </div>

    <app-req-show *ngIf="tskAbility" [reqvirements]="tsk.reqvirements"></app-req-show>

    <button *ngIf="tsk.isStateRefresh" class="my-1" style="width: 100%;" color="accent" mat-stroked-button
      (click)="refrCounter()">
      <mat-icon>refresh</mat-icon>
    </button>

    <ng-container *ngIf="!tskAbility && tsk.states.length>0">
      <mat-list (cdkDropListDropped)="drop($event)" cdkDropList id="states" *ngIf="tsk.states.length > 0">
        <div mat-list-item *ngFor="let st of tsk.states; let i = index">
          <ng-container *ngIf="st.isDone">
            <del>
              <div class="text-center">
                {{st.name}}
              </div>
            </del>
          </ng-container>
          <ng-container *ngIf="!st.isDone">
            <div class="text-center">
              {{st.name}}
            </div>
          </ng-container>
        </div>
      </mat-list>
    </ng-container>
    <ng-container>
      <br>
      <ng-container *ngFor="let st of tsk.statesDescr; let i = index;">
        <div *ngIf="i!=0 && st &&(!tsk.isPerk || (tsk.isPerk && tsk.value>1 && i==10))"
          class="text-center px-0 py-1 border-0" [ngClass]="{'bg-success': i==tsk.value && tskAbility.isOpen}">
          <b *ngIf="!tsk.isPerk">{{i}}<ng-container *ngIf="st&&!tsk.isPerk">: </ng-container></b>{{st}}
        </div>
      </ng-container>
    </ng-container>
    <!-- <div class="text-center px-0 py-1 border-0">
      {{tsk.curLvlDescr}}
    </div> -->
  </form>
  <br>
  <br>
</div>
<!-- Режим редактирования -->
<div class="container pt-2 pb-4" *ngIf="this.srv.pers && tsk && isEditMode">
  <form class="pb-4">
    <app-image-component *ngIf="tskAbility && tskAbility?.image" [(data)]="tskAbility.image" [isCanEdit]="true">
    </app-image-component>
    <app-image-component *ngIf="!tskAbility" [data]="'assets/img/'+ tsk.imageLvl + '/'+tsk.image+'.jpg'">
    </app-image-component>
    <!-- Название -->
    <div fxLayout="row" xLayoutAlign="none center" fxLayoutGap='15px'>
      <mat-form-field>
        <input onfocus="this.select()" matInput autocomplete="off" placeholder="Название" [(ngModel)]="tsk.name"
          name="tsk.name">
      </mat-form-field>

    </div>
    <mat-form-field *ngIf="tskCharact">
      <input class="pointer" (click)="changeCharact()" matInput readonly placeholder="Характеристика" name="tsk.charact"
        value="{{tskCharact.name}}">
    </mat-form-field>


    <!-- Дата, повторение -->
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
      <mat-form-field>
        <input [readonly]="true" matInput autocomplete="off" placeholder="Дата" [ngModel]="tsk.date" name="tsk.date"
          (ngModelChange)="onTskDateChange($event)" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">
        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
      </mat-form-field>

      <ng-container *ngIf="tsk.requrense != 'нет'">
        <!-- Повторение -->
        <mat-form-field>
          <mat-label>Повторение</mat-label>
          <mat-select [(ngModel)]="tsk.requrense" name="tsk.requrense">
            <mat-option *ngFor="let req of requrenses" [value]="req">
              {{req}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Время -->
        <!-- <mat-form-field>
          <mat-label>Время</mat-label>
          <mat-select [(ngModel)]="tsk.timeVal" name="tsk.timeVal">
            <mat-option *ngFor="let req of times" [value]="req">
              {{req|timeVal}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
      </ng-container>
    </div>

    <!-- Дни недели -->
    <div fxLayout="row" fxLayoutGap="0.3em" fxLayoutAlign="center center" *ngIf="tsk.requrense == 'дни недели'">
      <div *ngFor="let wd of weekDays">
        <ng-container>
          <span (click)="setWeekDays(wd)"
            [ngClass]="{'text-dark': !tsk.tskWeekDays.includes(wd), 'badge-unchecked': !tsk.tskWeekDays.includes(wd), 'primary-color-dark': tsk.tskWeekDays.includes(wd)}"
            class="badge pointer">
            {{wd}}
          </span>
        </ng-container>
      </div>
    </div>

    <!-- Описание -->
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
      <mat-form-field>
        <textarea matInput autosize minRows='1' maxRows='5' useImportant='true' onfocus="this.select()" autocomplete="off" placeholder="Описание" [(ngModel)]="tsk.descr"
          name="tsk.descr"></textarea>
      </mat-form-field>
    </div>
    <div *ngIf="tsk.requrense != 'нет'" class="pb-2">
      <mat-slide-toggle [checked]="tsk.isPerk" (change)="tsk.isPerk=!tsk.isPerk">
        Перк?
      </mat-slide-toggle>
    </div>
    <!-- Сложность -->
    <ng-container *ngIf="tsk.requrense != 'нет'">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="pb-3">
        <mat-chip-list [selectable]="true">
          <mat-chip (click)="tsk.hardnes=1" [selected]="tsk.hardnes==1" color="accent">норм</mat-chip>
          <mat-chip (click)="tsk.hardnes=2" [selected]="tsk.hardnes==2" color="accent">сложно</mat-chip>
          <mat-chip (click)="tsk.hardnes=3" [selected]="tsk.hardnes==3" color="accent">оч. сложно</mat-chip>
        </mat-chip-list>

        <mat-chip-list [multiple]="true" [selectable]="true">
          <mat-chip color="accent" (click)="setSumStates()" [selected]="tsk.isSumStates">∑</mat-chip>
          <mat-chip [selected]="tsk.isStatePlusTitle" color="accent"
            (click)="tsk.isStatePlusTitle=!tsk.isStatePlusTitle">название</mat-chip>
          <mat-chip [selected]="tsk.isStateRefresh" color="accent" (click)="tsk.isStateRefresh=!tsk.isStateRefresh">⟳
          </mat-chip>
          <mat-chip [selected]="tsk.isStateInTitle" color="accent" (click)="tsk.isStateInTitle=!tsk.isStateInTitle">
            заголовок</mat-chip>
        </mat-chip-list>
      </div>
    </ng-container>

    <ng-container *ngIf="tsk.requrense != 'нет'">
      <!-- Таймер, счетчик -->
      <div fxLayoutGap="8px" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <input matInput autocomplete="off" onfocus="this.select()" placeholder="Минут" [(ngModel)]="tsk.aimTimer"
            name="tsk.aimTimer">
        </mat-form-field>

        <mat-form-field>
          <input matInput autocomplete="off" onfocus="this.select()" placeholder="Раз" [(ngModel)]="tsk.aimCounter"
            name="tsk.aimCounter">
        </mat-form-field>

        <mat-chip-list [multiple]="true" [selectable]="true" fxFlex="noshrink">
          <mat-chip color="accent" (click)="tsk.isTimer=!tsk.isTimer" [selected]="tsk.isTimer">
            таймер
          </mat-chip>
          <mat-chip [selected]="tsk.isCounter" color="accent" (click)="tsk.isCounter=!tsk.isCounter">
            счетчик
          </mat-chip>
        </mat-chip-list>
      </div>
    </ng-container>


    <!-- Состояния -->
    <!-- <h5>Состояния:</h5> -->
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <ng-container *ngIf="tsk.requrense != 'нет'">
        <h5>Состояния:</h5>
      </ng-container>
      <ng-container *ngIf="tsk.requrense === 'нет'">
        <h5>Подзадачи:</h5>
      </ng-container>
      <button class="icon-small" (click)="addStateToTask();" mat-icon-button>
        <img src="assets/icons/create.png" class="img-fluid">
      </button>
    </div>

    <mat-list (cdkDropListDropped)="drop($event)" cdkDropList id="states" *ngIf="tsk.states.length > 0">
      <div mat-list-item cdkDrag *ngFor="let st of tsk.states; let i = index">
        <div class="d-flex">
          <div class="flex-grow-1 align-self-center">
            <a class="text-primary">
              <ng-container *ngIf="tsk.requrense != 'нет' || st.isDone == false">
                {{st.name}}
              </ng-container>
              <ng-container *ngIf="tsk.requrense === 'нет' && st.isDone == true">
                <del>
                  {{st.name}}
                </del>
              </ng-container>
            </a>
          </div>
          <div class="btn-group btn-group-sm" role="group" aria-label="Действия">

            <button class="icon-small" (click)="addStateToTask(st)" mat-icon-button>
              <img src="assets/icons/edit.png" class="img-fluid">
            </button>

            <button class="icon-small" (click)="delState(st.id)" mat-icon-button>
              <img src="assets/icons/del.png" class="img-fluid">
            </button>

            <button class="icon-small" mat-icon-button cdkDragHandle>
              <img src="assets/icons/right.png" class="img-fluid">
            </button>
          </div>
        </div>
      </div>
    </mat-list>

    <app-req-edit *ngIf="tskAbility" [reqvirements]="tsk.reqvirements" (reqvirementsChange)="tsk.reqvirements=$event">
    </app-req-edit>

  </form>
  <br>
  <br>
</div>
